@font-face {
	font-family: Utopia;
	src: url("../font/UtopiaStd-Regular.otf") format("opentype");
}

html,
body {
	/*height: 100vH;*/
	/*width: 100vW;*/
}

h1, h2, h3, h4 {
	font-family: 'Utopia';
}

body {
	margin-top: 6%;
	background-color: #7199FF;
}

.card-panel {
	border-radius: 6px;
}


.heading-text {
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}

.textbox-row {
	padding: 10px 10px 0 10px;
}

table thead tr {
	font-size: 1.2rem;
}

textarea.materialize-textarea {
	margin-bottom: 0;
}

.btn {
	background-color: #7199FF;
}
.btn:hover {
	background-color: #ff7043;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	box-shadow: 0 1px 0 0 #7199ff!important;
	border-bottom: 2px solid #7199ff!important;
}

textarea {
	border-bottom: 1px solid #616161;
}

label {
   color: #616161!important;
   /*font-style: italic;*/
}

label.active {
	color: #7199ff!Important;
	/*font-style: normal!Important;*/
}

#submitButton {
	margin-top: 4rem;
}

.result-card {
	background-color: #fcfcfc;
}

.result-card h6{
	color: #7199FF;
	font-family: 'Utopia';
}

.result-card table thead tr {
	font-size: 1rem;
}
.chip {
	background-color: #7199FF;
	color: white;
	margin-right: 6px;
}

.text-card {
	position: relative;
}
.text-card .loader {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0 , 0, 0.3);
    z-index: 2;
    border-radius: 6px;
}
